<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->

    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <!-- Title and action buttons -->
        <div class="flex items-center justify-between w-full">
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">Creación de cargos</h2>
            </div>
            <div class="flex items-center ml-6">
                <button class="hidden sm:inline-flex ml-3" mat-flat-button [color]="'primary'" (click)="onAddCargo()">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:document-add'"></mat-icon>
                    <span class="ml-2">Agregar Cargo</span>
                </button>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="flex flex-col p-2 pb-4 bg-card rounded-2xl shadow overflow-hidden">
            <div class="example-container" *ngIf="tableCargo">
                <div class="flex">
                    <table mat-table [dataSource]="tableCargo.content" multiTemplateDataRows>

                        <ng-container matColumnDef="codigoCargo">
                            <th mat-header-cell *matHeaderCellDef> Codigo </th>
                            <td mat-cell *matCellDef="let element">
                                <span class="pr-6 whitespace-nowrap">
                                    {{element.codigoCargo}}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="nombreCargo">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element">
                                <span class="pr-6 whitespace-nowrap">
                                    {{element.nombreCargo}}
                                </span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="accion" >
                            <th mat-header-cell *matHeaderCellDef class="width-action"> Acciones </th>
                            <td mat-cell *matCellDef="let element" class="width-action">
                                <button mat-icon-button (click)="onEditCargo(element)" matTooltip="Editar registro">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button (click)="onDeleteCargo(element.idCargo)"
                                    matTooltip="Eliminar registro">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef=" displayedColumnsCargo"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsCargo;"></tr>
                    </table>
                </div>

                <mat-paginator [length]="tableCargo.totalElements" [pageSize]="tableCargo.size"
                    [pageSizeOptions]="[5,10,15,20]" showFirstLastButtons (page)="onChangePagination($event)">
                </mat-paginator>
            </div>
        </div>

    </div>

</div>