<div class="dialog-content-wrapper">
    <mat-toolbar mat-dialog-title>
        <div class="flex flex-row sm:items-center sm:justify-between">
            <div>
                <span>{{title}}</span>
            </div>
            <button tabindex="-1" mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <div mat-dialog-content>
        <mat-label>{{message}}</mat-label>
    </div>

    <div mat-dialog-actions align="end">
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Eliminar</button>
    </div>

</div>